.cardsContainer{
    width:80%;
    margin-left: 15%;
    background-color: gray;
    
}

.cardImages{
    position:relative;
    float:left;
    width:150px;
    height:150px;
}

 @media (max-width: 480px){
    
    .cardsContainer{
        width:100%;
        margin-left: 5%;
        display: "in-line"; 
       
    }
.cardImages{
    width:30%;
    height:30%;
    display: "in-line";
    
}

}